body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:380px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2996px;
  width:1280px;
  height:380px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:45px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3358px;
  width:1280px;
  height:45px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:2926px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1280px;
  height:2926px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:201px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:187px;
  width:282px;
  height:201px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:452px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:2951px;
  width:1280px;
  height:452px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:76px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:82px;
  width:116px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:76px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:2857px;
  width:268px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:29px;
  width:256px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:336px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:187px;
  width:1280px;
  height:336px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:364px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:592px;
  width:1280px;
  height:364px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:105px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:82px;
  width:190px;
  height:105px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u74 {
  position:fixed;
  left:0px;
  top:0px;
}
#u74_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
  background-image:none;
}
#u74_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:122px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:2699px;
  width:413px;
  height:122px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:401px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:668px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:995px;
  width:1280px;
  height:668px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
