body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3036px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:380px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2996px;
  width:1280px;
  height:380px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:45px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3358px;
  width:1280px;
  height:45px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:2926px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1280px;
  height:2926px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:201px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:187px;
  width:282px;
  height:201px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:452px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:2951px;
  width:1280px;
  height:452px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:76px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:82px;
  width:116px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:104px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:76px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:2857px;
  width:268px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:29px;
  width:256px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:336px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:187px;
  width:1280px;
  height:336px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:364px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:592px;
  width:1280px;
  height:364px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:105px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:82px;
  width:190px;
  height:105px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:178px;
  word-wrap:break-word;
}
#u95 {
  position:fixed;
  left:0px;
  top:0px;
}
#u95_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
  background-image:none;
}
#u95_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:72px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:122px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:2699px;
  width:413px;
  height:122px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:401px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:668px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1756px;
  top:995px;
  width:1280px;
  height:668px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
