body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:264px;
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:264px;
}
#u3562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:791px;
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:427px;
  width:375px;
  height:791px;
}
#u3563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:285px;
  width:344px;
  height:154px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:16px;
}
#u3564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:340px;
  word-wrap:break-word;
}
#u3565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-style:normal;
  color:#FFFFFF;
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:138px;
  width:122px;
  height:37px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-style:normal;
  color:#FFFFFF;
}
#u3565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:118px;
  word-wrap:break-word;
}
