body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1037px;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:47px;
  width:320px;
  height:1037px;
}
#u6096_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:71px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u6097_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1309px;
}
#u6098 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:47px;
  width:320px;
  height:1309px;
}
#u6098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u6099 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:17px;
  width:85px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u6099_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:670px;
}
#u6100 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1699px;
  width:320px;
  height:670px;
}
#u6100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:671px;
}
#u6101 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1699px;
  width:320px;
  height:671px;
}
#u6101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:671px;
}
#u6102 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:47px;
  width:320px;
  height:671px;
}
#u6102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1588px;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:47px;
  width:320px;
  height:1588px;
}
#u6103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u6104 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1657px;
  width:127px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009DD9;
}
#u6104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6105 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:192px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u6105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u6106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6106 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:281px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u6106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u6107 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:202px;
  width:0px;
  height:0px;
}
#u6107_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u6107_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:97px;
}
#u6107_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:85px;
  width:54px;
  height:8px;
}
#u6107_seg3 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:80px;
  width:18px;
  height:18px;
}
#u6107_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6108 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:192px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u6108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u6109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6109 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:1711px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u6109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u6110 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:202px;
  width:0px;
  height:0px;
}
#u6110_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u6110_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-4px;
  width:8px;
  height:1272px;
}
#u6110_seg2 {
  border-width:0px;
  position:absolute;
  left:-369px;
  top:1260px;
  width:385px;
  height:8px;
}
#u6110_seg3 {
  border-width:0px;
  position:absolute;
  left:-369px;
  top:1260px;
  width:8px;
  height:263px;
}
#u6110_seg4 {
  border-width:0px;
  position:absolute;
  left:-410px;
  top:1515px;
  width:49px;
  height:8px;
}
#u6110_seg5 {
  border-width:0px;
  position:absolute;
  left:-416px;
  top:1510px;
  width:18px;
  height:18px;
}
#u6110_text {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:956px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6111 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:237px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u6111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u6112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6112 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:1711px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u6112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u6113 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:247px;
  width:0px;
  height:0px;
}
#u6113_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u6113_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:1482px;
}
#u6113_seg2 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:1470px;
  width:110px;
  height:8px;
}
#u6113_seg3 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:1465px;
  width:18px;
  height:18px;
}
#u6113_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:774px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
