body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:927px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:56px;
}
#u7416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:56px;
}
#u7416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7418 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:18px;
  width:29px;
  height:20px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7419 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:18px;
  width:29px;
  height:20px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7420 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:18px;
  width:29px;
  height:20px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7421 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:18px;
  width:66px;
  height:20px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u7421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:76px;
}
#u7422 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:113px;
  width:268px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u7422_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:256px;
  word-wrap:break-word;
}
#u7423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u7423 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:288px;
  width:568px;
  height:128px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u7423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  word-wrap:break-word;
}
#u7425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:161px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1352px;
  width:600px;
  height:161px;
}
#u7425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u7426 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:1468px;
  width:399px;
  height:16px;
  font-size:11px;
  color:#999999;
}
#u7426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u7427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u7427 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1415px;
  width:324px;
  height:17px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F2F2F2;
}
#u7427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  white-space:nowrap;
}
#u7428 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1415px;
  width:49px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7429 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1415px;
  width:77px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u7430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1400px;
  width:600px;
  height:1px;
}
#u7430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u7431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1448px;
  width:600px;
  height:1px;
}
#u7431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7432 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:1415px;
  width:49px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7433 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:1415px;
  width:49px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u7435 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:1369px;
  width:9px;
  height:16px;
}
#u7435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7436 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:1366px;
  width:37px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:208px;
}
#u7437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:600px;
  height:208px;
}
#u7437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u7438 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:129px;
  width:129px;
  height:45px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:32px;
  color:#FFFFFF;
  text-align:center;
}
#u7438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u7439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(254, 0, 2, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7439 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:447px;
  width:150px;
  height:40px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u7440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:295px;
}
#u7441 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:584px;
  width:439px;
  height:295px;
}
#u7441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:295px;
}
#u7442 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:949px;
  width:435px;
  height:295px;
}
#u7442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:16px;
}
#u7443 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:527px;
  width:568px;
  height:40px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  text-align:center;
  line-height:16px;
}
#u7443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:568px;
  word-wrap:break-word;
}
#u7444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 2, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7444 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:879px;
  width:132px;
  height:40px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u7445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 2, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7445 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:879px;
  width:132px;
  height:40px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u7446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 2, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7446 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1244px;
  width:132px;
  height:40px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u7447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 2, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7447 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:1244px;
  width:132px;
  height:40px;
  font-family:'PingFangHK-Medium', 'PingFang HK Medium', 'PingFang HK';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FE0002;
}
#u7447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u7448 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:584px;
  width:212px;
  height:355px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7449 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:584px;
  width:212px;
  height:355px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7450 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:949px;
  width:212px;
  height:355px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7451 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:949px;
  width:212px;
  height:355px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
