body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2847px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1383px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2747px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2682px;
  height:1339px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:34px;
  width:2682px;
  height:1339px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
